.product-wap {
	box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}
.product-wap .product-color-dot.color-dot-red {
	background: #f71515;
}
.product-wap .product-color-dot.color-dot-blue {
	background: #6db4fe;
}
.product-wap .product-color-dot.color-dot-black {
	background: #000000;
}
.product-wap .product-color-dot.color-dot-light {
	background: #e0e0e0;
}
.product-wap .product-color-dot.color-dot-green {
	background: #0bff7e;
}
.product-overlay {
	background: rgba(0, 0, 0, 0.2);
	visibility: hidden;
	opacity: 0;
	transition: 0.3s;
}
.card:hover .card-img-overlay {
	visibility: visible;
	opacity: 1;
}
.card.product-wap a {
	color: #000;
}
#carousel-related-product .slick-slide:focus {
	outline: none !important;
}
#carousel-related-product .slick-dots li button:before {
	font-size: 15px;
	margin-top: 20px;
}
.overlay {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0);
	background: rgba(0, 0, 0, 0.5); /* Black see-through */
	color: #f1f1f1;
	width: 100%;
	transition: 0.5s ease;
	opacity: 0;
	color: white;
	font-size: 20px;
	padding: 20px;
	text-align: center;
}

/* When you mouse over the container, fade in the overlay title */
.container:hover .overlay {
	opacity: 1;
}
